{% extends 'reading_theme.html' %}

{% block title %}
{#文章详情#}
{% endblock title %}

{% block content %}
    <div class="container">
		<div class="siderbar" style="width: 15%;float:left;">
			<ul class="list-group text-center" role="navigation">
				<li class="list-group-item text-center"> <img src="../static/img/lianjie.png"
						style="width:100%;height:200px; border-radius:10px" alt=""> </li>
				<li class="list-group-item">
					<h2>兰彬炎</h2><small>school here</small>
				</li>
				<li class="list-group-item" style="margin: 0 auto">
					<a class="btn " href="">
						<h4 style="display:inline">粉丝</h4>
						<p style="display:inline">80</p>
					</a>
					<a class="btn " href="">
						<h4 style="display:inline">文章</h4>
						<p style="display:inline">80</p>
					</a>
				</li>
			</ul>
		</div>
		<div class="contentbar" style="height: 700px;float:right;width:83%">
			<div class="article_itself panel panel-info">
				<div class="panel-heading">
					<h1><strong>文章标题</strong></h1> <small>author_name_here</small>
				</div>
				<div class="panel-body" style="overflow: auto">
					Panel content which shoully shown
				</div>
			</div>
			<hr>
			<div class="comment">
				<!--TODO:评论区-->
				<div class="container">
					点赞<span>3567</span> 评论<span>3567</span>
				</div>
				<div style="margin-top: 20px">
					<div class="input-group">
						<input type="text" id="addContent"class="form-control" placeholder="Comment here">
						<span class="input-group-btn">
							<!--TODO:提交保存输入的内容-->
							<button class="btn btn-info" id= "comment" type="button">
								提交
							</button>
						</span>
					</div>
				</div>
				<hr>
				<ul class="list-group" id="commentPlace" style="height:100px;overflow:scroll">
					<li class="list-group-item">
						<p>写得太好了，狂吹彩虹屁</p>
					</li>			
				</ul>
			</div>
			<hr>
			<div class="thesameauthor">
				<ul class="list-group">
					<li class="list-group-item ">
						<!-- TODO:跳转到detail_of_article.html显示文章信息 -->
						<div class="media">
							<div class="media-body">
								<div id="title"><a href="">
										<h2 class="media-heading">兰彬炎长高了，太令人震惊了</h2>
									</a></div>
								<div id="brief">
									<p>215时报最新消息……</p>
								</div>
								<div id="author" class="pull-left">
									<p>the same author</p>
								</div>
								<div id="time" class="pull-right">
									<p>2019年9月29日</p>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>

{% endblock content %}