<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>详情</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" >
	<link rel="stylesheet" href="../static/css/lbystyle.css">
    <script src="../static/quote/jQuery.js"></script>
    <script src="../static/quote/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
</head>
<body>
	<!-- 文章的详情跟用户点击有关哎怎么样连起来呢？ -->
	<nav class="navbar navbar-default">
  		<div class="container-fluid"> 
   		 <!-- Brand and toggle get grouped for better mobile display -->
    		<div class="navbar-header">
      		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#defaultNavbar1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      		<a class="navbar-brand" href="#">Logo</a></div>
    		<!-- Collect the nav links, forms, and other content for toggling -->
    		<div class="collapse navbar-collapse" id="defaultNavbar1">
      			<ul class="nav navbar-nav">
        			<li class="active"><a href="#">书城<span class="sr-only">(current)</span></a></li>
        			<li><a href="#">博客</a></li>
        			<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">关于<span class="caret"></span></a>
         				<ul class="dropdown-menu" role="menu">
            				<li><a href="#">Action</a></li>
            				<li><a href="#">Another action</a></li>
            				<li><a href="#">Something else here</a></li>
            				<li class="divider"></li>
            				<li><a href="#">Separated link</a></li>
            				<li class="divider"></li>
            				<li><a href="#">One more separated link</a></li>
          				</ul>
					</li>
      			</ul>
      			<form class="navbar-form navbar-left" role="search">
        			<div class="form-group">
          				<input type="text" class="form-control" placeholder="Search">
        			</div>
        			<button type="submit" class="btn btn-default">搜索</button>
      			</form>
      			<ul class="nav navbar-nav navbar-right">
        			<li><a href="#">登录</a></li>
					<li><a href="#">注册</a></li>
        			<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">个人中心<span class="caret"></span></a>
          				<ul class="dropdown-menu" role="menu">
           					<li><a href="#">个人信息</a></li>
    	   					<li><a href="#">我的卖书</a></li>
    	   					<li><a href="#">我的收藏</a></li>
    	   					<li><a href="#">学生认证</a></li>
    	   					<li><a href="#">我的文章</a></li>
							<li><a href="#">我点赞的</a></li>
            				<li class="divider"></li>
            				<li><a href="#">退出登录</a></li>
          				</ul>
        			</li>
      			</ul>
    		</div>
    <!-- /.navbar-collapse --> 
  		</div>
  <!-- /.container-fluid --> 
	</nav>
    <div class="container-fluid" >
		<div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
		</div>
    <div class="well col-lg-3 col-md-3 hidden-sm hidden-xs" style="position: fixed;z-index: 999">
		<ul class="list-group text-center" role="navigation">
			<li class="list-group-item text-center"> <img src="../static/img/lianjie.png"style="width:200px;height:200px; border-radius:10px" alt=""> 	</li>
			<li class="list-group-item"><h2>兰彬炎</h2><small>school here</small></li>
			<li class="list-group-item" style="margin: 0 auto">
				<a class="btn " href="">
					<h4 style="display:inline">粉丝</h4>
				    <p style="display:inline">80</p>
				</a>
				<a class="btn " href="">
					<h4 style="display:inline">文章</h4>
					<p style="display:inline">80</p>
				</a>
			</li>
			<li class="list-group-item">
				<a href="" class="btn btn-info form-control">
					加关注
				</a>
			</li>
		</ul>
	</div>
	
	<div class="container col-lg-9 col-md-9 col-sm-12 col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading"><h1><strong>文章标题</strong></h1></div>
			<div class="panel-body" style="overflow: auto">
				Panel content which shoully shownPanel content which should be automatically shownPanel content which should be automatically shownPanel content which should be automatically shownPanel content which should be automatically shownPanel content which should be automatically shown
			</div>
			<hr>
			<div class="container-fluid">
				<div class="container">
					点赞<span>3567</span> 评论<span>3567</span>
				</div>
				<ul class="list-group">
					<li class="list-group-item" > 
						<p>写得太好了，狂吹彩虹屁</p>
						<p>第一楼</p>
					</li>
					<li class="list-group-item">
						<p>写得太好了，狂吹彩虹屁</p>
						<p>第一楼</p>
					</li>
					<li class="list-group-item">
						<p>写得太好了，狂吹彩虹屁</p>
						<p>第一楼</p>
					</li>
					<li class="list-group-item">
						<p>写得太好了，狂吹彩虹屁</p>
						<p>第一楼</p>
					</li>

					<li class="list-group-item">
						<p>写得太好了，狂吹彩虹屁</p>
						<p>第一楼</p>
					</li>
					

				</ul>
			</div>
		</div>
	</div>
	</div>
	<div classs="container-fluid panel ">
		<div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
		</div>
		<ul  class="list-group panel-body col-lg-9 col-md-9 col-sm-12 col-xs-12">
			<li class="list-group-item ">
				<div class="media">
					<div class="media-body">
						<div id="title"><a href="">
								<h2 class="media-heading">兰彬炎长高了，太令人震惊了</h2>
							</a></div>
						<div id="brief">
							<p>215时报最新消息……</p>
						</div>
						<div id="author" class="pull-left">
							<p>the same author</p>
						</div>
						<div id="time" class="pull-right">
							<p>2019年9月29日</p>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div id="footer" class="row panel container col-lg-12 col-md-12 col-sm-12 col-xs-12 panel-footer">		
		<div class="panel-body text-center">
			<p>本站为中南大学学生创新创业项目，如有问题或建议，请联系作者。</p>
			<p><span>CSUSHUTONG@163.com</span></p>
			<p>CopyRight&copy;CSU书童</p>
		</div>
	</div>
</body>
</html>