{% extends 'reading_theme.html' %}

{% block title %}
    分享你的读书
{% endblock title %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>欢迎来到CSU读书博客</h1>
        <p>在这里你可以爱书之人进行亲密无间的交谈并分享自己的读书感受</p>
        <p><a class="btn btn-primary btn-lg" href="#upper" role="button">马上进入</a></p>
    </div>
    <div style="height:700px">
        <div class="row" style="height: 250px">
            <div class="navbar navbar-nav col-lg-2 col-sm-12 col-md-4 col-xs-12">
                <ul class="nav nav-stacked">
                    <!-- <li><h2><a href="">首页</a></h2></li>TODO:跳转到首页 -->
                    <!-- <li><h2><a href="">去书城</a></h2></li> TODO:跳转到书城 -->
                    <li><h2><a href="">我点赞的</a></h2></li> <!--TODO:跳转到mysupport.html-->
                    <li><h2><a href="">我发表的</a></h2></li> <!--TODO:跳转到myarticles.html-->
                </ul>
            </div>
            <div class="col-lg-10 col-md-8 col-xs-12 col-sm-12">
                <textarea id="editor"class="col-lg-10 col-md-8 col-xs-12 col-sm-12 form-control"></textarea> 
                <div style="margin-top: 20px">
                    <div class="input-group">  
                        <input type="text" class="form-control"  placeholder="输入文章标题"> 
                        <span class="input-group-btn">
                            <!--TODO:提交保存输入的内容-->
                            <button class="btn btn-info" type="button">
                                存为草稿
                            </button>
                            <button class="btn btn-info" type="button">
                                马上发布
                            </button>
                        </span>                        
                    </div>                                 
                </div>
                
            </div>
        </div>
        <hr>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <ul class="list-group">
                <li class="list-group-item ">
                    <div class="media">
                        <div class="media-body">
                            <!-- TODO:跳转到detail_of_article.html显示文章信息 -->
                            <!-- TODO:跳转到detail_of_article.html显示文章信息 -->
                            <div><a href="">
                                    <h2 class="media-heading">兰彬炎长高了，太令人震惊了</h2>
                                </a></div>
                            <div>
                                <p>215时报最新消息……</p>
                            </div>
                            <div class="pull-left">
                                <p>215时报</p>
                            </div>
                            <div class="pull-right">
                                <p>2019年9月29日</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
            <div class="input-group">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-info">搜索</button>
                </span>
                <!--TODO:搜索-->
            </div>
            <ul class="list-group">
                <!-- TODO:跳转到detail_of_article.html显示文章信息 -->
                <li class="list-group-item">
                    <div><a href="">
                            <h4><strong>兰彬炎长高了，太令人震惊了</h4></strong>
                        </a></div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- <link rel="stylesheet" href="{% static 'kindeditor/themes/simple/simple.css'%}"> -->
<script>    
    KindEditor.ready(function (K) {
        var options = {
            // cssPath: "{static 'quote/bootstrap.css'}",
            minWidth: 50,
            
            // themeType:'simple',
            items: [
                'source', '|', 'undo', 'redo', '|', 'preview', 'cut', 'copy', 'paste',
                'plainpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
                'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'selectall', '|', 
                'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
                'italic', 'underline', 'strikethrough', 'lineheight',  '|', 'table', 'hr', 'emoticons','anchor', 'link', 'unlink', 'fullscreen'
            ],
            uploadJson:"{%url 'reading:upload'%}",
        };
        window.editor = K.create('#editor',options);
        
    });
</script>
{% endblock content %}