{% extends 'reading_theme.html' %}

{% block title %}
分享你的读书
{% endblock title %}    
{% block content %}
<!-- 我上传的书籍here -->
<div class="container">
    <div class="contentbar" style="height: 700px;">
        <div class="article_itself panel panel-info">
            <div class="panel-heading">
                <h1><strong>我上传的书籍</strong></h1> 
            </div>
        </div>
        <hr>
        <div class="thesameauthor">
            <ul class="list-group">
                <li class="list-group-item " style="width:30%;float:left;margin-top: 5px;margin-right:3.3%;border-radius:2px;">
                    <div class="media">
                        <!-- TODO:这是卖书的页面还没出来 -->
                        <div class="media-body">
                            <div><a href="">
                                    <img src="" alt="">
                                </a>
                            </div>
                            <div style="text-align:center;">
                                <p style="font-style:oblique">关于恐怖片的三点言论</p>
                                <p class="h3" style="text-align:center;">兰彬炎</p>
                                <p style="color: brown">价格189.00￥</p>
                                <p>二手9成新</p>
                            </div>
                            <div>
                            </div>
                            <div>
                                <p class="pull-left">2019年9月29日</p>
                                <p class="pull-right">收藏:98998</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item " style="width:30%;float:left;margin-top: 5px;margin-right:3.3%;border-radius:2px;">
                    <div class="media">
                        <div class="media-body">
                            <div><a href="">
                                    <img src="" alt="">
                                </a>
                            </div>
                            <div>
                                <p>215时报最新消息……</p>
                            </div>
                            <div>
                                <p>2019年9月29日</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}