{% extends 'reading_theme.html' %}

{% block title %}
分享你的读书
{% endblock title %}    
{% block content %}
<!-- 我上传的书籍here -->
<div class="container">
    <div class="siderbar" style="width: 15%;float:left;">
        <ul class="list-group text-center" role="navigation">
            <li class="list-group-item text-center"> <img src="../static/img/lianjie.png"
                    style="width:200px;height:200px; border-radius:10px" alt=""> </li>
            <li class="list-group-item">
                <h2>兰彬炎</h2><small>school here</small>
            </li>
            <li class="list-group-item" style="margin: 0 auto">
                <a class="btn " href="">
                    <h4 style="display:inline">粉丝</h4>
                    <p style="display:inline">80</p>
                </a>
                <a class="btn " href="">
                    <h4 style="display:inline">上传</h4>
                    <p style="display:inline">80</p>
                </a>
            </li>
        </ul>
    </div>
    <div class="contentbar" style="height: 700px;float:right;width:83%">
        <div class="article_itself panel panel-info">
            <div class="panel-heading">
                <h1><strong>我上传的书籍</strong></h1> 
            </div>
        </div>
        <hr>
        <div class="thesameauthor">
            <ul class="list-group">
                <li class="list-group-item " style="width:30%;float:left;margin-top: 5px;margin-right:3.3%;border-radius:2px;">
                    <div class="media">
                        <div class="media-body">
                            <div id="title"><a href="">
                                    <img src="" alt="">
                                </a>
                            </div>
                            <div style="text-align:center;">
                                <p style="font-style:oblique">关于恐怖片的三点言论</p>
                                <p class="h3" style="text-align:center;">兰彬炎</p>
                                <p style="color: brown">价格189.00￥</p>
                                <p>二手9成新</p>
                            </div>
                            <div id="brief">
                            </div>
                            <div id="time">
                                <p class="pull-left">2019年9月29日</p>
                                <p class="pull-right">收藏:98998</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item " style="width:30%;float:left;margin-top: 5px;margin-right:3.3%;border-radius:2px;">
                    <div class="media">
                        <div class="media-body">
                            <div id="title"><a href="">
                                    <img src="" alt="">
                                </a>
                            </div>
                            <div id="brief">
                                <p>215时报最新消息……</p>
                            </div>
                            <div id="time">
                                <p>2019年9月29日</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item " style="width:30%;float:left;margin-top: 5px;margin-right:3.3%;border-radius:2px;">
                    <div class="media">
                        <div class="media-body">
                            <div id="title"><a href="">
                                    <img src="" alt="">
                                </a>
                            </div>
                            <div id="brief">
                                <p>215时报最新消息……</p>
                            </div>
                            <div id="time">
                                <p>2019年9月29日</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item " style="width:30%;float:left;margin-top: 5px;margin-right:3.3%;border-radius:2px;">
                    <div class="media">
                        <div class="media-body">
                            <div id="title"><a href="">
                                    <img src="" alt="">
                                </a>
                            </div>
                            <div id="brief">
                                <p>215时报最新消息……</p>
                            </div>
                            <div id="time">
                                <p>2019年9月29日</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}