/* CSS Document */

.navigationbar{}
.content{
	margin: 5%
}
.sidebar{
	width: 30%;
	float: left;
	position: relative;
}
.contentbar{
	width: 70%;
	float:right;
}
.footerbar{}

#sider li{
	height: 55px;
	font-size: 20px;
}
#sider a{
	color: darkgray
}
#title a:hover{
	text-decoration: none;
	color: brown;
}
#brief{
	color: dimgray;
	font-size: 120%
}
#search{
	margin: 10px 0 10px 0;
}
#head,#namebar,#author-info{
	margin: 10px 0;
}
#head img{
	height: 50px;
	width: 50px;
	border-radius: 50px;
}