{% extends 'theme.html' %}

{% block title %}
    书僮网-主页
{% endblock title %}

{% block static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="{% static 'js/index.js' %}"></script>
{% endblock static %}

{% block content %}
    <div class="container-fluid" style="height:900px">
        <!--left col-md-4 col-lg-4 col-sm-12 col-xs-12-->
        <div class="jumbotron " style="height:250px;">
            <h1 class=""><strong>欢迎来到书僮网</strong></h1>
            <p>你可以由此进入</p>
            <div class="text-capitalize">
                <button type="submit" class="btn btn-success font1">
                    <a style="text-decoration: none; color: white" href="maishu/">交易售卖</a>
                </button> &nbsp; &nbsp;
                <button type="submit" class="btn btn-success font1">
                    <a style="text-decoration: none; color: white" href="reading/">读书交流</a>
                </button>
            </div>
        </div>

        <!--right col-lg-8 col-md-8 hidden-sm hidden-xs-->
        <div id="box1">
            <img src="{% static 'img/1.jpg' %}" id="imgs" />
            <!--手动切换上一页-->
            <div id="left" class="page">
                <</div> <!--手动切换下一页-->
                    <div id="right" class="page">></div>
                    <!--页数-->
                    <ul id="aff">
                        <li name="li">1</li>
                        <li name="li">2</li>
                    </ul>
            </div>
        </div>
{% endblock content %}