{% extends 'theme.html' %}

{% block title %}
    书僮网-注册界面
{% endblock title %}

{% block static %}
    <style>
		.right{
			
			padding-left: 100px;
			padding-top: 100px;
			width: 400px;
			height: 500px;
			
		}
	</style>
	<script language="javascript">

		function check(){
			
			var fr=document.form1;
			var ischecked=document.getElementById("checkbox1").checked;
			if(fr.name1.value==""){
				alert("用户ID必须要填写！");
				fr.name.focus();
				return false;
			}
			if(fr.Password1.value==""){
				alert("用户密码必须要填写！")
				fr.Password1.focus();
				return false;
			}
			if(fr.Password2.value==""){
				alert("确认密码必须要填写！")
				fr.Password2.focus();
				return false;
			}
            if(fr.Password1.value!=fr.Password2.value){
				alert("密码不一致，请重新输入！");
				
				fr.Password2.focus();
				return false;
			}
			if(ischecked==false){
				alert("请同意用户协议!");
			    fr.Password2.focus();
				return false;
			}
			alert("提交成功");
			fr.reset();
			
		
		}

	</script>
{% endblock static %}

{% block content %}
	<div class="right">
        <form method="POST" action="{% url 'ac:regist' %}" name="form1" enctype="multipart/form-data">
            {% csrf_token %}
         <div class="form-group">
            <label for="exampleInputPassword1">学号</label>
            <input type="name" class="form-control" id="exampleInputname1" placeholder="num" name="num">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">用户ID</label>
            <input type="name" class="form-control" id="exampleInputname1" placeholder="name" name="name1">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">输入密码</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="Password1" >
          </div>
          <div class="form-group">
            <label for="exampleInputPassword2">确认密码</label>
            <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" name="Password2">
          </div>
         <div class="form-group">
            <label>认证学校</label>
            <input type="name" class="form-control" id="exampleInputSchool" placeholder="School" name="School">
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="agreement" id="checkbox1" ><small><a href="#">我已同意用户协议</a></small>
            </label>
          </div>

          <input type="submit"></input>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          已注册？<buttom type="buttom" class="btn btn-default" onclick="location.href='../login/'">登录</buttom>

        </form>
	  </div>
{% endblock content %}