{% extends 'theme.html' %}

{% block title %}
    书僮网-注册界面
{% endblock title %}

{% block static %}
    <style>
		.container_middle{
			margin: 10px auto;
			height: auto;
			width: 50%;
			border: 2px whitesmoke;
		}
	</style>
{% endblock static %}

{% block content %}
	<div class="container_middle">
		<form method="POST" action="{% url 'regist' %}" name="form1" enctype="multipart/form-data" id="register_commit">
			{% csrf_token %}
			<div class="form-group">
				<label for="avatar">头像：</label>
				<img src="{% static 'img/default_boy.png' %}" id="icon" style="width: 50px;height: 50px;border-radius: 50px;">
				<input type="file" id="file-choose" name="icon">
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">学号</label>
				<input type="name" class="form-control" id="stunum" placeholder="num" name="stunum">
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">用户ID</label>
				<input type="name" class="form-control" id="stuname" placeholder="name" name="stuname">
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">输入密码</label>
				<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
			</div>
			<div class="form-group">
				<label for="exampleInputPassword2">确认密码</label>
				<input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" name="Password2">
			</div>
			<div class="form-group">
				<label>认证学校</label>
				<input type="name" class="form-control" id="school" placeholder="School" name="school">
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" value="agreement" id="checkbox1"><small><a href="#">我已同意用户协议</a></small>
				</label>				
				<button type="button" id = 'submit_btn' class="btn btn-info" onclick="commit()">注册</button>
				<a href="{% url 'login'%}" >已注册？</a>
			</div>		
		</form>
		<div class ="alert alert-warning" id = 'msg_con' hidden>			
				<a style="color: red;" href="{% url 'login'%}" id = "msg"></a>			
		</div>
		<form id="login_part" action="{% url 'login' %}" hidden method="POST">
			<!-- 战术隐藏 -->
			{%csrf_token%}
			<input type="text" id="login_id" name="userId">
			<input type="text" id="login_pass" name = "userPass">
		</form>
	</div>
<script>
	$(document).ready(function () {
		var file_choose = document.getElementById("file-choose");
		file_choose.onchange = function () {
			var file = this.files[0]; //files[0] 通过DOM对象拿到文件对象；如果是使用jQuery: $(this)[0].files[0], 要通过$(this)[0] 索引，先从JQ对象集合中拿到DOM对象
			var reader = new FileReader(); //实例化FileReader
			reader.readAsDataURL(file); //将文件对象转化为路径对象
			reader.onload = function () { //FileReader.onload 属性
				var imgEle = document.getElementById("icon");
				imgEle.src = this.result //这里的this指reader对象
			}
		}
		var csrftoken = getCookie("csrftoken");
		

		$.ajaxSetup({
			beforeSend: function (xhr, settings) {
				if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
					xhr.setRequestHeader("X-CSRFToken", csrftoken);
				}
			}
		})
		$('#exampleInputPassword2').mouseout=function(){
			
			$('#msg').text("两次密码不一致！");
			fr.Password2.focus();
		}
	})
	function check() {
			var fr = document.form1;
			var ischecked = document.getElementById("checkbox1").checked;
			if(fr.stunum.value ==""){
				$('#msg').text("请填学号！");
				fr.stunum.focus();
				$('#msg_con').show();
				return false;
			}
			if (fr.stuname.value == "") {
				// alert("用户ID必须要填写！");
				$('#msg').text("请填写昵称！");
				fr.stuname.focus();
				$('#msg_con').show();
				return false;
			}
			if (fr.password.value == "") {
				$('#msg').text("请填写密码！");
				fr.password.focus();
				$('#msg_con').show();
				return false;
			}
			if (fr.Password2.value == "") {
				$('#msg').text("请确认密码！");
				fr.Password2.focus();
				$('#msg_con').show();
				return false;
			}
			if (fr.password.value != fr.Password2.value) {
				$('#msg').text("两次密码不一致！");
				fr.Password2.focus();
				$('#msg_con').show();
				return false;
			}
			if (ischecked == false) {
				$('#msg').text("请阅读并确认用户协议！");
				$('#checkbox1').focus();
				$('#msg_con').show();
				return false;
			}
			// document.getElementById("register_commit").submit();
			return true;
		}
		function try_to_login_after_register(){
			// $('#login_id').value=$('#stunum').val();
			// $('#login_pass').value=$('#exampleInputPassword1').val()
			$('#login_id').val($('#stunum').val());
			$('#login_pass').val($('#exampleInputPassword1').val());
			// alert($('#login_id').val());
			// alert($('#stunum').val());
			$('#login_part').submit();
		}
		function commit() {
			if (!check()) return;
			var form_data = new FormData();
			var stunum = $('#stunum').val();
			var stuname = $('#stuname').val();
			var password=$('#exampleInputPassword1').val();
			var school = $('#school').val();
			var icon = $('#file-choose')[0].files[0];
			// form_data['stunum']=stunum;
			// form_data['stuname']=stuname
			// form_data['password']=password
			// form_data['school']=school
			// form_data['icon'] = icon
			form_data.append('school',school);
			form_data.append('stunum',stunum);
			form_data.append('stuname',stuname);
			form_data.append('password',password);
			form_data.append('icon',icon);
			// alert(form_data.icon);
			// form_data = $('#register_commit').serialize()
			form_data['icon'] = icon
			$.ajax(
				{
					url :"{% url 'regist' %}",
					type: 'POST',
					processData:false,//防止报错：Illegal Invocation
					data: form_data,
					contentType:false,
					dataType: 'json',
					// async:false,
					// headers: { "X-CSRFToken": $.cookie("csrftoken") },
					success : function (data,status,xhr) {								
						$('#msg').text(data.msg);
						
						
						if(xhr.status==201){
							//表示注册成功，应当要发送一个post登录请求给login,
							$('#msg_con').removeClass('alert-warning');
							$('#msg_con').addClass('alert-success');
							$('#msg').css('color','black');
							setTimeout("try_to_login_after_register()",3000);//设置三秒钟自动跳转
						}	
						
						$('#msg_con').show();
					}
				}

			)
		}
</script>
	{% endblock content %}