{% extends 'theme.html' %}

{% block title %}
    书僮网-登录界面
{% endblock title %}

{% block static %}
    <style>		
		.container_middle{
			margin: 10px auto;
			height: auto;
			width: 50%;
			border: 2px whitesmoke;
			background-color:white;
		}
	</style>
	<script language="javascript">
		$(document).ready(function(){
			
			var csrftoken = getCookie("csrftoken");
			$.ajaxSetup({
				beforeSend: function (xhr, settings) {
					if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
						xhr.setRequestHeader("X-CSRFToken", csrftoken);
					}
				}
			})
			$('#sign_commit').submit(function(e){
				// e.preventDefault();这不行，这就变成套娃了
				// set the check function
				var fr = document.form1;
				if (fr.userId.value == "") {
					$('#msg').text('请填写账号！');
					// alert("用户ID必须要填写！");
					fr.userId.focus();
					$('#msg_con').show();
					e.preventDefault();
					return false;
				}
				if (fr.userPass.value == "") {
					// alert("用户密码必须要填写！")
					$('#msg').text('请填写密码！');
					fr.userPass.focus();
					$('#msg_con').show();
					e.preventDefault();
					return false;
				}
				$('#sign_commit').submit();
				// $('#msg_con').show();
				return true;
			})
		})
		function check(){
			var fr = document.form1;
			// var wrong = false;
			if (fr.userId.value == "") {
				$('#msg').text('请填写账号！');
				// alert("用户ID必须要填写！");
				fr.userId.focus();
				$('#msg_con').show();
				return false;
			}
			if (fr.userPass.value == "") {
				// alert("用户密码必须要填写！")
				$('#msg').text('请填写密码！');
				fr.userPass.focus();
				$('#msg_con').show();
				return false;
			}
			// $('#sign_commit').submit();
			// $('#msg_con').show();
			return true;
		}
	</script>
{% endblock static %}

{% block content %}
	<div class="container_middle">
        <form method="POST" action="{% url 'login' %}" name="form1" id="sign_commit">
            {% csrf_token %}
          <div class="form-group">
            <label for="exampleInputPassword1">学号</label>
            <input type="name" class="form-control" id="exampleInputname1" placeholder="id" name="userId">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">密码</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="userPass">
		  </div> 
		<button type="submit" class="btn btn-info" >登录</button>
		<a href="{% url 'regist' %}">未注册?</a>
		</form>
		{%if back%}
		<div class="alert alert-warning"> 
			<a style="color: red;" href="{% url 'login' %}">{{back}}</a>
		</div>
		{%endif%}
		<div class="alert alert-warning" id='msg_con' hidden>
			<a style="color: red;" href="{% url 'login' %}" id="msg">{{back}}</a>
		</div>
	  </div>
{% endblock content %}